body {
    /*background-image: url(../assets/images/background.jpg);*/
    background-color: #222!important;
}

textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	background-color: #000;
	border-color: #888;
}

#list1 {
	color: #FF4050!important;	
}

#list2 {
	color: #6688FF!important;
}

#list1Only {
	color: #FF4050!important;	
}

.panel.panel-default {
  background-color: #111;
}

.btn-radio-custom {
	background-color: #ddd;
	margin: 0 5px;
}

.btn-radio-custom.active, .btn-radio-custom.active:hover {
	color: white;
	background-color: #994040;
	/* background-color: #409940; */
	/* background-color: #405099; */
}

.center {
	text-align: center;
}


.topSpace {
	padding-top: 20px;
}

.bottomSpace {
	padding-bottom: 20px;
}


#list1DuplicatesDiv, #list2DuplicatesDiv {
	padding-top: 4px;
	color: #ddd;
	display: none;
}

.wordWrap { 
   white-space: pre-wrap; 
   white-space: -moz-pre-wrap; 
   white-space: -pre-wrap; 
   white-space: -o-pre-wrap;  
   word-wrap: break-word;
}

textarea:active,
textarea:hover,
textarea:focus
{
	outline-color: #35b;
}

#clearBtn {
	border-color: black;
	text-shadow: none;
}

#compareBtn {
	font-weight: bold;
	background-image: none;
	background-color: #b33;
	border-color: black;
	text-shadow: none;
	color: white;
}