/***** General styling *****/
body {
    /*background-image: url(../assets/images/background.jpg);*/
    background-color: #222!important;
}

textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	background-color: #000;
	border-color: #888;
}

textarea:active,
textarea:hover,
textarea:focus
{
	outline-color: #35b;
}

.list1Items {
	color: #FF4050!important;	
}

.list2Items {
	color: #6688FF!important;
}

.panel.panel-default {
  background-color: #111;
}

/***** Duplicates area *****/
#list1DuplicatesDiv, #list2DuplicatesDiv {
	display: none;
	color: #ddd;
	padding-top: 4px;
}

.wordWrap { 
   white-space: pre-wrap; 
   white-space: -moz-pre-wrap; 
   white-space: -pre-wrap; 
   white-space: -o-pre-wrap;  
   word-wrap: break-word;
}

/***** Options *****/
#optionsOuterContainer {
	background-color: #111;
	border: 2px solid #000;
}

#optionsHeadingContainer {
	padding: 6px 0 10px 0;
}

#optionsHeadingText {
	color: #ddd;
	font-size: 22px;
	padding-left: 15px;
}

#optionsContainer {
	padding: 0 15px 15px 15px; 
	background-color: #111;
}
 
/***** Button styling *****/
.btn {
	text-shadow: none!important;
}

#clearBtn {
	border-color: black;
}

#compareBtn {
	font-weight: bold;
	background-image: none;
	background-color: #b33;
	border-color: black;
	color: white;
}

.btn-radio-custom {
	background-color: #ddd;
	margin: 0 5px;
}

.btn-radio-custom.active, .btn-radio-custom.active:hover {
	color: white;
	background-color: #994040;
	/* background-color: #409940; */
	/* background-color: #405099; */
}

/***** Layout *****/
.center {
	text-align: center;
}

.topSpace {
	padding-top: 20px;
}

.bottomSpace {
	padding-bottom: 20px;
}