body {
    background-image: url(../assets/images/background.jpg);
}

textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	background-color: #001;
	border-color: #213343;
	color: #12e845!important;
}

div.container.topSpace {

}

.panel.panel-default .panel-heading {
	background-image: none;
	background-color: #1f2f50;
}

h3.panel-title {
	color: #CFCFCF!important;
}

.panel.panel-default {
	background-color: #0c1021;
}

input[type='checkbox'] {

}

btn-default.active {
	background-color: #ccc;
	color: #222;
}

.center {
	text-align: center;
}

.topSpace {
	padding-top: 20px;
}

.bottomSpace {
	padding-bottom: 20px;
}

#list1DuplicatesDiv, #list2DuplicatesDiv {
	padding-top: 4px;
	color: #ddd;
	display: none;
}

.wordWrap { 
   white-space: pre-wrap; 
   white-space: -moz-pre-wrap; 
   white-space: -pre-wrap; 
   white-space: -o-pre-wrap;  
   word-wrap: break-word;
}

textarea:active,
textarea:hover,
textarea:focus
{
    outline:0px !important;
    -webkit-appearance:none; 
}

#clearBtn {
	border-color: black;
}

#compareBtn {
	background-image: none;
	background-color: #316eac;
	border-color: black;
	text-shadow: none;
	color: white;
}